<%
var isVector = /Vector<([^<^>]+)>/
var extractVector = /(?:Vector<){0,1}([^<^>]+)(?:>){0,1}/
var isFlag = /flags.([0-9]{1,})\?(.+)/
function genSchema(id, name, type, params) {
    var generated = `<a href="../constructor/${name}.md">${name}</a>#`
    generated += id + ' '
    params.forEach((param) => {
        generated += `${param.name}:`
        generated += `${writeType(param.type)} `
    })
    generated += `= ${writeType(type)};`
    return generated
}
function writeType(type) {
    var target_type = ""
    if (isFlag.test(type)) {
        var flagrun = isFlag.exec(type)
        target_type = `flags.${flagrun[1]}?`
        var strip_flag = flagrun[2]
    } else strip_flag = type
    if (isVector.test(strip_flag)) {
        var vectorrun = extractVector.exec(strip_flag)
        var strip_vector = vectorrun[1]
        target_type += `Vector&lt;`
        var is_vector = true
    } else {
        var is_vector = false
        strip_vector = strip_flag
    }
    target_type += `<a href="../type/${strip_vector}.md">${strip_vector}</a>`
    if (is_vector) target_type += `&gt;`
    return target_type
}
-%>
# <%= predicate %>

<%= description %>

<pre>
<%- genSchema(id, predicate, type, params) %>
</pre>

## Parameters

| Name | Type | Description |
|------|:----:|-------------|
<% params.forEach((param) => { -%>
| **<%= param.name %>** | <%- writeType(param.type) %> | <%= params_desc[param.name] %> |
<% }) -%>

## Type

<%= writeType(type) %>
